;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.0"]
  [quil "4.0.0-SNAPSHOT-1"]]

 :dev-http {3000 "public"}
 :nrepl {:port 3333}

 :builds
 {:app {:asset-path "/js"
        :modules {:main {:init-fn llacom.quil-playground.core/init}}
        :output-dir "public/js"
        :target :browser
        :devtools
        {:repl-init-ns llacom.quil-playground.core
         :repl-pprint true}}}}
